{% extends 'base.html' %}

{% block head %}
        <title>Apply</title>
{% endblock %}

{% block body %}
    <div class="container">
    <br/>
    <h1>Apply</h1>
        <div class="row" style="padding:15px;">
        <form method="post" enctype="multipart/form-data" class="form-control">
            <div class="form-group">
          {% csrf_token %}
          {{ form.as_p }}
            </div>
          <input class="btn btn-danger" type="submit" value="Apply" style="float:right"/>
        </form>

        </div>
    </div>
{% endblock %}