{% extends 'base.html' %}

{% block head %}
        <title>Home</title>
{% endblock %}

{% block body %}
    <div class="container">
    <br/>
    <h1>Home</h1>
    <form class="form-inline my-2 my-lg-0">
       <input class="form-control mr-sm-2" id="keywords" name="keywords" type="search" placeholder="Search Jobs" aria-label="Search" value="{{request.GET.keywords}}">
        <select id="search_by" name="search_by" class="form-control" style="margin-right:5px;">
          <option value="">Search By</option>
          <option value="salary" {% if request.GET.search_by == 'salary' %} selected="selected" {% endif %} >Salary</option>
          <option value="title" {% if request.GET.search_by == 'title' %} selected="selected" {% endif %}>Title</option>
          <option value="post" {% if request.GET.search_by == 'post' %} selected="selected" {% endif %}>Keyword</option>
        </select>
        <input class="form-control mr-sm-1" id="location" name="location" type="search" placeholder="Location"  value="{{request.GET.location}}">

       <input type="submit" class="btn btn-primary" value="Search">
    </form>
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.post }}#}
{#        <br/>#}
{#        <button type="submit" class="btn btn-light" id="submit">Submit</button>#}
{##}
{#    </form>#}
        <br/>
        <h3>Listings</h3>
    <h4>{{ text }}</h4>
{#    {% for post in posts %}#}
{#        <h5>Job Title: {{ post.post }}</h5>#}
{#        <p>Posted by {{ post.user.get_full_name }} on {{ post.date }}</p>#}
{#    {% endfor %}#}
    <br/>
    {% for post in posts %}
    <div class="card bg-light mb-3" style="max-width: 50rem;" id="cards">
        <div class="card-header"><h5>{{ post.title }}</h5></div>
        <div class="card-body">
            <p class="card-text">
                <strong>{{ post.post }}</strong>
            </p>
            <p class="card-text">
                <strong>Location: {{ post.location }}</strong>
            </p>
            <p class="card-text">
                <strong>Salary: ${{ post.salary }}</strong>
            </p>

            <p class="card-text">
                Posted by {{ post.user.get_full_name }} on {{ post.created }}</p>
            {%  if logged %}
                {% if current_user == post.user %}
                     <a href ="{% url 'home:postapplys' post.id %}" type="button" class="btn btn-danger">View Applicants</a>
                {% elif post.pk in applied_posts %}
                     <button type="button" class="btn btn-default" disabled>Applied</button>
                {% else %}
                    <a href="{% url 'home:apply' post.id %}" type="button" class="btn btn-danger">Apply</a>
                {% endif %}

            {% else %}
            {% endif %}

        </div>
    {{ post.description }}
    </div>
        <br/>
        <br/>
    {% endfor %}

    </div>
    {% if success %}
    <div class="alert alert-success alert-dismissible" role="alert" style="position:fixed;right:10px;bottom:20px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Great!</strong> You successfully applied for this job. Please wait for the employer to get back to you.
        </div>
    {% endif %}

    {% comment %}{% if counter %}
    <div class="alert alert-success alert-dismissible" role="alert" style="position:fixed;right:10px;bottom:20px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success.</strong> You've successfully registered with Crew. :-)
        </div>
    {% endif %}{% endcomment %}

{% endblock %}