{% extends 'base.html' %}

{% block head %}
        <title>Create Listings</title>
{% endblock %}

{% block body %}
    <div class="container">
    <br/>
    <h1>Create a Listing</h1>
        <br/>
    <form method="post">
        {% csrf_token %}
        Job title: {{ form.title }}
        <br/>
        Job Description: {{ form.post }}
        <br/>
        Salary: {{ form.salary }}
        <br/>
        Location: {{ form.location }}
        <br/>

        <button type="submit" class="btn btn-light" id="submit">Submit</button>
    </form>

    </div>

    <div class="container">
    <br/>
    <hr/>
        <h3>My Listings</h3>
    <br/>
    {% for post in posts %}
   <div class="card bg-light mb-3" style="max-width: 50rem;" id="cards">
        <div class="card-header"><h5>{{ post.title }}</h5></div>
      <div class="card-body">
          <p class="card-text">Job Description: {{ post.post }}</p>
          <p class="card-text">Location: {{ post.location }}</p>
          <p class="card-text">Salary: ${{ post.salary }}</p>
         <p class="card-text">Posted by {{ post.user.get_full_name }} on {{ post.created }}</p>
          <button type="button" class="btn btn-danger" data-toggle="popover" title="Coming soon" data-content="The Crew is working on it. ;)">Edit</button>

      <button class="btn btn-danger del_button" value="{%   url 'accounts:delete_post' post.slug %}">Delete</button>
          {%  if logged %}
                {% if current_user == post.user %}
                     <a href ="{% url 'home:postapplys' post.id %}" type="button" class="btn btn-danger">View Applicants</a>
                {% elif post.pk in applied_posts %}
                     <button type="button" class="btn btn-default" disabled>Applied</button>
                {% else %}
                    <a href="{% url 'home:apply' post.id %}" type="button" class="btn btn-danger">Apply</a>
                {% endif %}

            {% else %}
            {% endif %}
       </div>
   </div>
        <br/>
        <br/>
    {% endfor %}
    </div>

    <!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " style="color:#333333;" id="exampleModalLabel">Confirm dialog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color:#555555;">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color:#333333;">
        Do you really want to delete it? All of this data will be lost.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a id="del_but"type="button" class="btn btn-primary">Delete</a>
      </div>
    </div>
  </div>
</div>


    <script>
/* to show modal via jquery clock event bound to id="modal_button_id" a/button/etc */
$(document).ready(function() {
    $('.del_button').click(function () {
        var link = $(this).val();
        $('#deleteModal').modal('show');
        $('#del_but').attr("href", link);
    });

});

//To show overlay for Edit button which is a coming soon feature.
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
{% endblock %}