{% extends 'base.html' %}
{% load static %}

{% block head %}
        <title>Edit Profile</title>
{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-md-6">
    <br/>
    <h1>Edit Profile</h1>
        <br/>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form2.as_p }}
        <br/>
            <button type="submit" class="btn btn-danger">I'm done editing</button>
        </form>
        <br>
            </div>

    <div class="col-md-5">
    <img src="{% static "crew-background5.png" %}" alt="crew-worthy" id="crew-worthy" style="width:400px;height:300px;margin-top:80px;"/>
    </div>
    </div>
    </div>


{% endblock %}