{% extends 'base.html' %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <br>
 <div class="container h-100">

    {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                    <h4 class="alert-heading">Success</h4>
                    <p>Aww yeah, {{ message }} You can go ahead log in below. </p>
                {% endfor %}
            </div>
     {% endif %}


<div class="row h-100 justify-content-center align-items-center">
 <span class="align-middle"></span><h2>Sign into your Crew</h2>
 <br/>
 <br/>
</div>
 <br/>
 <div class="row h-100 justify-content-center align-items-center">
 <div class="card bg-light mb-3" style="width: 20rem;padding:20px" id="cards">

     <div class="text-center">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{%   url 'accounts:reset_password' %}"><p>Forgot Password?</p></a>

            <button type="submit" class="btn btn-danger">Sign in</button>

        </form>
     </div>
</div>
 </div>

     <div class="row h-100 justify-content-center align-items-center">
 <div class="text-center">
 <div class="card bg-light mb-3 " style="width: 20rem;">
  <div class="card-body">
    New to the Crew? <a href="{%   url 'accounts:register' %}">Create an account.</a>
  </div>
</div>
 </div>
     </div>
 </div>

{% endblock %}