{% extends 'base.html' %}

{% block head %}
        <title>Profile</title>
{% endblock %}

{% block body %}
    <div class="container">
    <br>
    <h1>{{ user.first_name }}'s Profile</h1>
        <br/>
        <img src="{{ user.userprofile.image.url }}" width="240">
        <br/>
        <br/>
        <h4><strong>{{ user.first_name }} {{ user.last_name }}</strong></h4>
        <h5>{{ user }}</h5>
    <hr/>
        <p>{{ user.userprofile.description }}</p>

        <p><strong>Email:</strong> {{ user.email }}</p>

        {% if user.userprofile.phone > 0 %}
        <p><strong>Phone:</strong> {{ user.userprofile.phone }}</p>
        {% endif %}

        <p><strong>City:</strong> {{ user.userprofile.city }}</p>
        <p><strong>Website:</strong> {{ user.userprofile.website }}</p>
    </div>


{% endblock %}