{% extends 'base.html' %}
{% load static %}
{% block head %}
        <title>Reset My Password</title>
{% endblock %}

{% block body %}
<div class="container">
<br/>
    <div class="row">
        <div class="col-md-7">
    <h2>Password reset</h2>
    <br/>
    <p>
        Forgotten your password?<br/> Enter your email address below, and we'll email instructions for setting up a new one.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" class="btn btn-danger">Reset my password</button>
    </form>
            </div>

    <div class="col-md-5">
    <img src="{% static "crew-background.png" %}" alt="some_random_image" id="some_random_image" style="width:400px;height:450px"/>
    </div>

</div>

</div>
{% endblock %}